.container {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  min-height: 100%;
  width: 100%;
  color: white;
  background: #141E27;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.center-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 300px;
  height: 110px;
  background: #090D11;
  margin-bottom: 10px;
}
p { margin: 0 !important; }

.row__desc__title {
  color: white;
  font-size: 12pt;
}

.row__desc {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.row__desc__desc {
  width: 175px;
  color: #848688;
  font-size: 8pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row__icon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 7px;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  animation: fadeIn 2s;
}
