.container {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  min-height: 100%;
  width: 100%;
  color: white;
  background: #141E27;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.center-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  animation: fadeIn 2s;
}
