.container {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  min-height: 100%;
  width: 100%;
  color: white;
  background: #141E27;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.center-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p { margin: 0 !important; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  animation: fadeIn 2s;
}

/* Card 2.0 */
.card {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 300px;
  height: 110px;
  background: #090D11;
  margin-bottom: 10px;
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
}

.card__desc {
  display: grid;
  grid-auto-rows: 45px 1fr;
}

.card__desc div:nth-child(1) {
  position: relative;
  padding-left: 7px;
  padding-top: 7px;
  
}
.card__desc div:nth-child(2) {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 7px;
  color: white;
  font-size: 8pt;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__desc__title {
  color: white;
  font-size: 12pt;
}

.card__desc__type {
  color: #868686;
  font-size: 8pt;
  font-style: italic;
  padding-bottom: 1px;
  border-bottom: 3px solid white;
}

.card__desc__price {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  right: 14px;
  width: auto;
  height: 20px;  
  text-align: start;
}

.card__desc__price img {
  width: 15px;
  height: 15px;
  margin-right: 5px; 
}


